@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-geist-sans: "Geist Sans", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
}

html {
  font-family: var(--font-geist-sans);
}

.code-font {
  font-family: var(--font-geist-mono);
}

.tab-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.tab {
  margin: 0 10px;
  padding: 10px 20px;
  border: 2px solid #4a90e2;
  background-color: #f0f0f0;
  color: #333;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.tab:hover {
  background-color: #4a90e2;
  color: white;
}

.tab-active {
  background-color: #4a90e2;
  color: white;
}

.chart-container {
  padding: 20px;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
